<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employeeform</title>
    <link rel="stylesheet" href="./form.css">
</head>

<body>
    <div class="menu">
        <div class="logo">
            <img src="/views/logo1.svg" alt="">
        </div>
        <ul class="items">
            <li><a href="">Services</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Faq</a></li>
        </ul>
    </div>

    <form action="/register" method="POST">

        <div class="data">
            <label for="">Surname</label>
            <input type="  text"><br>
            <label for="">Firstname</label>
            <input type="text"><br>
            <label for="">Othernames</label>
            <input type="text"><br>

        </div>
        <div>
            <label for="">Department</label>
            <input type="text"><br>
            <label for="">Age</label>
            <label for=""></label>
            <input type="text"><br>
            <label for="">E-mail</label>
            <input type=" email"><br>
            <label for="">Password</label>
            <input type="password"><br>
            <label for="">Confirm Password</label>
            <input type="password">
        </div>
        <div class="but">
            <button>register</button>
        </div>
    </form>

    <script src="form.js"></script>
</body>

</html>